*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

*:focus{
	outline: none;
}

html{
	font-size: 62.5%;
}

body{
	box-sizing: border-box;
}

img{
	width: 100%;
	max-width: 50rem;
	display: block;
	margin: 0 auto;
}

h1{
	font-size: 3rem;;
}

p{
	font-size: 1.8rem;
}

.center{
	text-align: center;
}

.space{
	margin: 2rem 0;
}

#reveal{
	display: none;
}

#container{
	position: relative;
	height: 100vh;
	padding: 4rem 2rem;
	margin: 0 auto;
	max-width: 100rem;
}

#loader{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#loader rect{
	fill: #0B3D91;
}